header{
    font-family: $tipografia-titulos;
    width: 100%;
    background-color: map-get($colores, 1er);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $titulo-lg;
    .menu-header{
        list-style-type: none;
        display: flex;
        li{
            padding: 0px 12px;
            color: $color-primario;
            border-right: 1px solid #999900;
            &:last-of-type{
                border-right: unset;
            }
        }
    }
    img {
        width: 150px;
    a{
        color: red;
        &:hover{
            color: $color-terciario;
        }
    }
    }
    @for $i from 1 through 10{
        .col-#{$i} {
            width: 10% * $i;
        }
    }
    @each $color in red, black, yellow, white{
        .bk-#{$color}{
            background-color: $color;
        }
    }
}